<h1>Welcome to Quiz Page!</h1>
<p><strong>Question:</strong> {{question}}</p>

<form method = "POST" action = "/quiz">
    <label for ="answer">Enter your answer:</label>
    <input type ="text" id ="answer" name ="answer" required>
    <input type = "hidden" name = "id" value="{{id}}">
    <button type="submit">Submit</button>
</form>

{{#if userAnswer}}
    <h3>Your Answer: {{userAnswer}}</h3>
    <h3>Corrections: {{{correction}}}</h3>
    <h3>Status: {{status}}</h3>
{{/if}}